<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-vddocumentcapture"
    version="1.0.0">
    <name>Veridas VDDocumentCapture SDK Cordova Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/davgc/cordova-plugin-vddocumentcapture.git</repo>
    
  <engines>
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-android" version=">=5.1.0" />
    <engine name="cordova-ios" version=">=4.5.0" />
  </engines>

    <!-- android -->
   

    <!-- ios -->
    <platform name="ios">

    <preference name="CAMERA_PERMISION" default="This app wants to get your location while this app runs only."/>

        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="CDVVDDocumentCapture" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="CDVVDDocumentCapture">
                <param name="ios-package" value="CDVVDDocumentCapture" onload="false" />
            </feature>
        </config-file>

         <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
          <string>$CAMERA_PERMISION</string>
         </config-file>
        
       
        <dependency id="cordova-plugin-vdcore" url="https://github.com/davgc/cordova-plugin-vdcore.git"/>
     
        <header-file src="src/ios/CDVVDDocumentCapture.h" />
        <source-file src="src/ios/CDVVDDocumentCapture.m" />
        <header-file src="src/ios/VDDocumentCaptureConfig.h" />
        <source-file src="src/ios/VDDocumentCaptureConfig.m" />
        <header-file src="src/ios/VDWebView.h" />
        <source-file src="src/ios/VDWebView.m" />

   
        <framework src="src/ios/Framework/VDDocumentCapture.framework" embed="true" custom="true"/>


    </platform>
</plugin>
